{% import "../mixins/flash-messages.twig" as FlashMessages %} {% spaceless %}
<!doctype html>
<html>
<noscript>You don't have JavaScript enabled, cmon let us track you.</noscript>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title|default("Alpha Tau Foundation") }}</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link href="/styles/site.css" rel="stylesheet"> {% if user and user.canAccessKeystone %}
  <link href="/keystone/styles/content/editor.min.css" rel="stylesheet"> {% endif %} {% block css %}{% endblock %} {% block head %}{% endblock %}

</head>

<body>
  <header>
    <nav>
      <div >
        <div id="header" >
          <div role="navigation" class="">
            <ul class="">
              {% for link in navLinks %} {% set linkClass = '' %} {% if link.key == section %} {% set linkClass = ' class=""' %} {% endif %}
              <li{{ linkClass | striptags }}>
                <a href="{{ link.href }}">{{ link.label }}</a>
                </li>
                {% endfor %}
            </ul>
            <ul class="">
              {% if user is defined %} {% if user.canAccessKeystone %}
              <li>
                <a href="/keystone">Open Keystone</a>
              </li>
              {% endif %}
              <li>
                <a href="/keystone/signout">Sign Out</a>
              </li>
              {% else %}
              <li>
                <a href="/keystone/signin">Sign In</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div id="body">
      {% block intro %}{% endblock %} {{ FlashMessages.renderMessages(messages) }} {% block content %}{% endblock %}
    </div>
  </main>


  <footer>
		<p>
			Dis footer
		</p>
  </footer>
  <div id="footer" class="">

    <!-- <script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script> -->
    {% if (user is defined) and (user.canAccessKeystone) %}
    <script src="/js/jquery/jquery-1.11.3.min.js"></script>
    <script src="/keystone/js/content/editor.js"></script>
    {% endif %} {% block js %}{% endblock %}
  </div>
</body>

</html>
{% endspaceless %}
